.drink-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.drink-name {
    padding: 9px 0;
    margin: 0;
    font-size: 23px;
}

.drink-photo {
    width: 100%;
    border-radius: 15px;
}