.room-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 200px; */
    align-items: center;
}

.room-name {
    padding: 9px 0;
    margin: 0;
    font-size: 23px;
}

.room-photo {
    width: 100%;
}