.hero {
  display: flex;
}

.hero img {
  padding: 0;
  width: 1100px;
}

h1 {
  font-family: var(--font-header);
  font-size: 48px;
  padding-left: 70px;
  padding-right: 50px;
}

h2 {
  font-family: var(--font-header);
  font-size: 48px;
}

p {
  font-family: var(--font-main);
  font-size: 24px;
  padding-left: 70px;
  padding-right: 50px;
}

a {
  font-family: var(--font-main);
  text-decoration: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-buttons {
  display: flex;
  gap: 50px;
  font-size: 18px;
  width: 100%;
  padding-left: 140px;
}

.welcome-cats {
  border: 1px solid var(--kcc-pink);
  border-radius: 8px;
  padding: 6px 9px;
  background-color: var(--kcc-pink);
}

.welcome-reserve {
  border: 1px solid var(--kcc-blue);
  border-radius: 8px;
  padding: 6px 9px;
  background-color: var(--kcc-blue);
}
